@import "input.scss";
@import "support.scss";
@import "../fonts/fonts/fonts.min.css";
.redirect_cont_page {
  font-size: 14px !important;
}

.cata_list_section{
  padding: 20px 0;

  nav {
    border-bottom: 2px solid #f5f5f5;

    &:last-child {
      border-bottom: none;
    }
    li {
      display: inline-block;
      list-style: none;
      margin-right: 10%;
      padding: 12px 0;
      a {
        font-size: 14px;
        color: #424242;
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }

    ul {
      display: inline-block;
      width: 76%;
      margin-left: 10%;
      margin-top: 10px;
      vertical-align: middle;

  }

}
  .panel-body {
    padding-left: 13%;
    margin-top: -29px;
  }

  .toggle_arrow_down {
    color: #757575;
    text-decoration: none;
    margin-left: 2%;
  }

  .cat_all {
    color: $orange;
  }
  .cat_head {
    display: inline-block;
    width: 8%;

    .cat_cat_hd {
      color: #b0b0b0;
    }

  }

}


.products_cat_grid {
  padding-top: 30px;
  background-color: #f5f5f5;

  .active a {
    color: $orange;
  }

  .left_grid_nav {
    padding-left: 0px;
    float: left;
    li:nth-child(2) {
      border-left: 1px solid #e0e0e0;
      border-right: 1px solid #e0e0e0;
    }
    li:first-child {
      padding-left: 0px;
    }
  }

  .right_grid_nav {
    float: right;

    li:nth-child(2) {
      padding: 0px 0px;
    }

    .tips {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.5;
      color: #757575;
      margin-right: 5px;
       i{
         font-size: 9;
         font-weight: 100;
       }
    }

    .checkblock {
      display: inline-block;
      width: 18px;
      height: 18px;
      margin-right: 8px;
      border: 1px solid #e0e0e0;
      background-color: #fff;
      font-size: 16px;
      vertical-align: middle;

      .chk {
        display: none;
      }
    }
  }
  ul {
    padding-left: 0px;
    li {
      display: inline-block;
      list-style: none;
      padding: 0 30px;

      a {
        color: #424242;
        font-size: 14px;
        font-weight: 600;
        font: 600 14px 'Proxima Nova', Georgia, sans-serif;
        &:hover {
          color: $orange;
          text-decoration: none;
        }
      }
    }
  }
}
.grid_product_detail {
    clear: both;
    text-align: center;

    .row {
      margin: 10px 0;

      .col-sm-3 {
        padding: 0px 0px;
        padding-right: 17px;
        &:last-child {
          padding-right: 0px;
        }
      }
    }

    .product_grid_item {
      // height: 383px;
      background: #fff;
      transition: all .2s linear;
      &:hover {
        box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        .ad_crt {
          visibility: visible;
        }
      }
      a {
        img {
          width: 100%;
        }
      }
      li {
        display: block;
        margin-bottom: 12px;
      }
      .ad_crt {
        visibility: hidden;
        padding-top: 20px;
      }

      .orange {
        color: $orange;
      }
      .cut_txt {
        color: #b0b0b0;
        text-decoration: line-through;
      }
      .thumbnail {
        width: 34px;
        height: 34px;
        margin: 0 auto;

        &:hover {
          border-color:$orange;
        }
      }
      .sale_txt {
        display: inline-block;
        width: 60%;
        background-color: #f23835;
        color:#fff;
        font-size: 12px;
        font-weight: 400;
      }
      .sale_txt_new {
        @extend .sale_txt;
        background-color: #83c44e;
      }
    }

    .page_navigation {
      margin: 20px 0;
      li {
        padding: 0 0;
        width: 48px;
        height: 24px;
        margin: 0 7px;
        a {
          width: 100%;
          height: 100%;
          display: block;
          font-size: 18px;
          font-weight: 200;
          line-height: 24px;
          color: #b0b0b0;
          padding: 2px 0;

          &:hover {
            background-color: #b0b0b0;
            color:#fff;
          }
        }
      }
      .live {
        background-color: #757575;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
    }
}
