@import "support.scss";
body {
  color:#757575;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}
.mi_protect_bg_head{
  height: 800px;
  background: url('../images/sec-head-bg.jpg') no-repeat center top;
  text-align: center;
  .container {
    .sec_head {
      text-align: center;
      margin-top: 125px;
      h3 {
        font-weight: 200;
        font-size: 72px;
        color: #fff;
      }
      p {
        margin-top: 20px;
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.product_cost_list {
  .product_list_info {
    border: 2px solid rgba(245,245,245,0.5);
    padding: 20px;
    margin-top: 85px;
    li {
      position: relative;
      width: 18%;
      height: 320px;
      margin: 0 0.7%;
      padding: 0 20px;
      display: inline-block;
      vertical-align: top;
      background: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%, #fff 80%);
      box-shadow: rgba(0,0,0,0.2) 0px 8px 14px;
      .pr_info {
        .font-number {
          font-family: 'Avenir';
        }
        .price {
          border-bottom: 1px solid #bbb;
          font-size: 60px;
          font-weight: bold;
          line-height: 120px;
          margin-bottom: 30px;
        }
        .small {
          font-size: 14px;
        }
        .pr_txt {
          font-size: 16px;
        }
        .pr_validity {
            position: absolute;
            width: 100%;
            bottom:5%;
            margin-left: -8%;
        }
      }
    }
  }
}
.product_cost_list .product_list_info>li:nth-child(1) .price {
  color:#7aaa4b;
}
.product_cost_list .product_list_info>li:nth-child(2) .price {
  color:#695fbb;
}
.product_cost_list .product_list_info>li:nth-child(3) .price {
  color:#1da9a7;
}
.product_cost_list .product_list_info>li:nth-child(4) .price {
  color:#6fb5e1;
}
.product_cost_list .product_list_info>li:nth-child(5) .price {
  color:#f9bb01;
}

@media screen and (max-width:1055px) {
  .product_cost_list {
    .product_list_info {
      display: none;
    }
  }
}

.safe-guard {
  padding-bottom: 60px;
  .container {
    .section_head {
      h3 {
        width: 70%;
        margin:0 auto;
        font-size: 36px;
        line-height: 1.33333;
        color: #212121;
        font-weight:600;
      }
      p {
        width: 90%;
        margin: 20px auto;
        font-size: 14px;
        color: #757575;
      }
      a {
        color: $orange;
      }
    }
  }

  .damage_list {
    margin: 30px 0;
    text-align: center;
    .row {
      margin-bottom: 60px;
      .col-sm-3 {
        .damage_icon {
          display: inline-block;
          width: 132px;
        	height: 132px;
          background: url('../images/sprite.png') no-repeat;
        }
        .f1 {
           background-position: -2px -6px;
        }
        .f2 {
          background-position: -143px 0;
          width: 132px;
	        height: 139px;
        }
        .f3 {
          background-position: -284px -7px;
        }
        .f4 {
          background-position: -424px -7px;
        }
        .f21 {
          background-position: -563px -7px
        }
        .f22 {
          background-position: -703px -7px;
        }
        .f23 {
          background-position: -844px -7px;
        }
        .f24 {
          background-position: -981px -5px;
        }

        p {
          margin-top: 20px;
        }
      }
    }
  }
}

.section_head {
  h3 {
    width: 87%;
    margin:0 auto;
    font-size: 36px;
    line-height: 1.33333;
    color: #212121;
    font-weight:600;
  }
  p {
    width: 90%;
    margin: 20px auto;
    font-size: 14px;
    color: #757575;
  }
}

.warranty_section {
  padding: 110px 0 50px 0;
  .container {

    .damage_contact {
      margin: 85px 0;
      .row {
        .col-sm-4 {
          text-align: center;
          .con_icon {
            display: inline-block;
            background: url('../images/steps-list-bg.png') no-repeat;
          }
          .tel {
            background-position: -5px -9px;
            width: 60px;
	          height: 51px;
          }
          .cont {
            background-position: -74px -11px;
          	width: 64px;
          	height: 46px;
          }
          .build {
            background-position: -148px -4px;
          	width: 56px;
          	height: 60px;
          }
          .rank_br {
            width: 92%;
            border: 1px solid;
            position: relative;
            overflow: hidden;
            height: 270px;
            padding: 50px 0 36px 0;

            p {
              margin-top: 50px;
            }
          }
          .orange {
            border-color: #f57517;
          }
          .orange::before {
            background-color: #f57517;
          }
          .rank_br::before {
            content: "";
            width: 67px;
            height: 67px;
            position: absolute;
            top: -33px;
            left: -33px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
             transform: rotate(-45deg);
          }
          .rnk_count {
            position: absolute;
            left: 3px;
            top: 5px;
            font-size: 24px;
            line-height: 1;
            font-weight: 600;
            font-style: italic;
            color: #fff;
            font-family: 'Avenir';
          }

          .green {
            border-color: #7cb342;
          }
          .green::before {
            background-color: #7cb342;
          }

          .blue {
            border-color: #00acc1;
          }
          .blue::before {
            background-color: #00acc1;
          }
        }
      }
    }
  }
}

.claim_section {
  padding-bottom: 50px;
  .container {
    .warranty_detail {
      .row {
        .col-sm-6 {
          .card_head::before {
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            top: 90px;
            left: 0;
            border-style: solid;
            border-width: 20px 210px 0 210px;
            border-color: #fff transparent transparent transparent;
          }

          .card_head {
            height: 90px;
            text-align: center;
            position: relative;
            line-height: 90px;
            color: #fff;
            font-size: 23px;
            h4 {
              padding-top: 30px;
              font-size: 23px;
            }
          }
          .gray_hd {
            background-color: #757575;
          }
          .gray_hd::before {
            border-top-color: #757575;
          }
          .green_hd {
            background-color: #7aaa4b;
          }
          .card_provided {
            width: 100%;
            height: 550px;
            background-color: #fff;
            box-shadow: rgba(0,0,0,0.15) 0 13px 24px;
            .green_hd::before {
              border-top-color: #7aaa4b;
            }

            .card_detail {
              padding: 50px 50px 0;
              line-height: 1.8;
              ol {
                li {
                  list-style-position: inside;
                }
              }
              dt {
                font-weight: 900;
              }
              dd {
                margin: 5px 0 40px 0;
                line-height: 1.8;
              }
            }
            .not_provided {
              ol {
                li {
                  margin-bottom: 30px;
                }
              }
            }
          }
        }
      }
    }
  }
}
